footer {
	padding-bottom: 3rem;
	font-size: 1rem;
    font-family: "poppins-regular", sans-serif;
    background: $primary-color;
}

#go-top {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em 2em 0;
    border-radius: 50%;
    padding: .25em;
    width: 60px;
    height: 60px;
    background-color: $accent-color;
}