#resume {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #ececec;

    .lead {
        width: 50%;
        margin: 0 auto;
        margin-top: 1rem;
        line-height: 2rem;
    }
    
    .resume-header {
    text-align: center;

        h2 {
            color: $accent-color;
        }
    }

    .resume-timeline {
        max-width: 980px;
        margin: 0 auto;
    }

    .timeline-wrap {
    position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
    }

    .timeline-wrap::before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 35%;
        top: 0;
    }

    .timeline-block {
        position: relative;
        padding-top: 1.5rem;
        font-family: "lora";
    }

    .timeline-ico {
        height: 3.5rem;
        width: 3.5rem;
        line-height: 3rem;
        background: #313131;
        border-radius: 50%;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        left: 36%;
        top: .9rem;
        margin-left: -2.4rem;

        i {
            position: relative;
            left: .05rem;
            top: .2rem;
        }
    }

    .timeline-header {
        float: left;
        width: 35%;
        padding-right: 90px;
        text-align: right;

        h3 {
            margin-bottom: 0;
            line-height: 2rem;
        }

        p {
            font-family: "poppins-regular", sans-serif;
            font-size: 1rem;
            color: #888888;
        }
    }

    .timeline-content {
        margin-left: 35%;
        padding-left: 60px;

        h4 {
            position: relative;
            padding-bottom: 0.8rem;
            color: $primary-color;
            font-size: 1.2rem;
            font-family: "poppins";
        }

        h4::after {
            content: "";
            display: block;
            height: 3px;
            width: 50px;
            background: rgba(0, 0, 0, 0.2);
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}